<div class="container">
<% @posts.each do |post|%>
    <div class="row">
        <div class="col-sm-2">
        <h2><%= post.title %></h2>
        <%= simple_format post.description %>
        <p class="text-warning">
            <%= post.category.name %>
        </p> 
        <% post.tags.each do |t|%>
        <p class='text-danger'><%=t.name%></p>
        <%end%>
    </div> 
</div>
<hr/>
<%end%>
</div>