<div class="container">
<% @posts.each do |post|%>
    <div class="row">
        <div class="col-sm-2">
        <h2><%= post.title %></h2>
        <%= simple_format post.description %>
        <p class="text-warning">
            <%= post.category.name %>
        </p> 
    </div> 
</div>
<%end%>
</div>